@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-zinc-900 text-zinc-100 font-sans antialiased;
	}
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}
